@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,400;1,100&display=swap');

:root {
    --accent-col: #0659ec;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.temp.mr-auto {
    display: flex;
    transform: scale(1.5);
    padding-right: 16px;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, span {
    line-height: 1.25;
}

p {
    line-height: 1.5;
}

.black-col {
    color: #212529;
}

.big-text {
    font-size: 2.8rem;
}

.reg-text {
    font-size: 1.5rem;
}

.small-text {
    font-size: 1.5rem;
}

.section-header {
    padding: 3rem 0;
    font-size: 3rem;
}

li, ul {
    list-style: disc;
}

.rows {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.accent-colour {
    color: var(--accent-col);
}

/* Navbar stylings */


.navbar-nav.ms-auto {
    align-items: center;
}

.nav-item {
    align-items: center;
    list-style-type: none;

}

.nav-item:not(:last-child):hover {
    opacity: 0.5;
}

.nav-link:hover{
    color: black;
}

.navbar.navbar-expand-sm   {
    padding: 12px 8%;
    margin-top: 20px;
} 

.navbar-brand.accent-colour.reg-text {
    transition: all 300ms ease;
    font-size: 2rem;
}

.navbar-brand.accent-colour.reg-text:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.nav-link.black-col.link-filled {
    padding: 6px 12px;
    font-size: 1rem;
}

.link-filled {
    background-color: var(--accent-col);
    color: white;
    border-radius: 50px;
    transition: all 300ms ease;
    font-size: 1.3rem;
}
 
.link-filled:hover {
    /* background-color: #6b57d1; */
    transform: scale(1.1);
    transition: all 300ms ease;
    color: white;
    opacity: 0.8;
}


/* About me stylings */

#about {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* background-color: #7e7e7e; */
    padding-bottom: 16px;
    width: 100%;
}

.intro-title {
    margin-bottom: 16px;
    max-width: 800px;
}

.intro-body {
    color: #212529;
    max-width: 700px;
}

.intro-title {
    color: #212529;
}

.contact-links {
    margin-top: 12px;
    text-align: center;
}

a {
    text-decoration: none;
}

.link {
    transition: all 300ms ease;
    color: black;
    text-decoration: none;
    padding: 0 12px;
    font-size: 1.5rem;
    height: 100%;
}

.links {
    align-items: center;
}

a.icon-link {
    align-items: center;
    height: 100%;
    /* scale: 1.6; */
}

.icon-link:hover .link{
    color: var(--accent-col);
    transform: scale(1.3);
    opacity: 0.8;
}

.coder-img-container {
    align-items: center;
    padding-top: 12px;
    width: 700px;
    height: 352px;
}

.coder-img {
    width: 100%;
    height: 100%;
    max-height: 700px;
}

/* Coder image attributes to keep the colour consistent with the accent colour */

#band, #l-ear, #r-ear, #bd3879bf-5d05-49be-b690-c4d97e29a2ab-23, #efe93a1e-ccdd-49fd-af5f-e26394aa0937-21, #coder-body {
    fill: var(--accent-col)
}

/* LANGUAGES */

.language {
    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language-img {
    width: 100%;
    height: 100%;
    min-height: 64px;
    transition: all 300ms ease;
}

.language-name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    color: black;
}

.language:hover .language-name {
    transform: scale(1);
}

.language:hover .language-img{
    filter: brightness(0.8);
    opacity: calc(0.9);
    transform: scale(0.85);
}

.language-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 0px;
}

#languages {
    background-color: #f1f1f1;
}

/* Project Stylings */

.project-button {
    border: none;
    width: 100%;
    max-width: 800px; 
    box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
    background: transparent;
}

.card {
    transition: all 300ms ease;
    height: 100%;
}

.project-button:hover .card{
    transform: scale(0.95);
    opacity: 0.9;
    box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
    
}

.project {
    height: 500px;
}

.card-img-top {
    max-height: 400px;
    width: 100%;
    height: 100%;
}

.card-body {
    border: 2px black solid; 
    width: 100%;
}

.modal-header {
    border-bottom: 0 none !important;
}

.modal-title {
    font-size: 1.7rem;
    font-weight: bold;
}

.modal-header .btn-close {
    /* padding: .5rem .5rem; */
    /* margin: -.5rem -.1rem -.5rem auto !important; */
    /* transform: scale(1.6); */
    /* height: 100%; */
    /* padding-right: 12px; */
    /* transform: scale(1.3); */

}

.img-wrapper {
    box-shadow: 0px 2px 5px 3px rgb(0 0 0 / 45%);
    max-height: 600px; 
    width: 70%
}

.modal-img {
    width: 100%; 
    overflow:auto; 
    height: 100%;
}

.modal-link-container {
    padding: 8px 8px;
    transform: scale(1.2);
}

.modal-link {
    width: 1em;
    height: 1em;
    transition: all 300ms ease;
}

.modal-link:hover {
    transform: scale(1.3);
}

@media (max-width: 850px) {
    .navbar.navbar-expand-sm   {
        padding: 12px 4%;
    } 

    .navbar-brand.accent-colour.reg-text {
        transition: all 300ms ease;
        font-size: 1.5rem;
    }

    .navbar-brand.accent-colour.reg-text:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

@media screen and (max-width: 768px) {


    nav .navbar {
        padding: 0 16px;
        background-color: black;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-item:not(:last-child) {
        display: none;
    }

    .navbar-nav .nav-link {
        padding: 8px 8px;
    }

    .language {
        width: 25%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 16px;
    }

    .big-text {
        font-size: 3rem;
    }

    .reg-text {
        font-size: 1.5rem;
    }

    #about {
        padding-bottom: 0px;
    }

    .section-header {
        padding: 1.5rem 0;
    }

    .coder-img {
        width: 100%;
        height: 100%;
        max-height: 500px;
    
    }

    .language-wrapper {
        display: flex;
        align-items: center;
        padding: 10px 10px;
    }

    .project {
        height: 300px;
    }

    .project-button {
        border: none;
        width: 80%;
        height: 100%;
        max-width: 800px; 
        box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
        background: transparent;
    }

    .section-header {
        margin: 1rem 0;
        text-align: center;
    }

    .section-header-container {
        width: 100%;
        justify-content: center;
    }

    .card-img-top {
        max-height: 227px;
    }

    #exampleModal > div > div > div.modal-body > div {
        margin: 0 0px;
        width: 100%;
    }

    #exampleModal > div > div > div.modal-body > div {
        max-width:max-content;
    }

}

@media (max-width: 576px) { 
    .modal-dialog {
        max-width: 95%;
        margin: 1.75rem auto;
    }

    .modal-title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1.2rem;
    }

    .project-button {
        border: none;
        width: 100%;
        height: 100%;
        max-width: 800px; 
        box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
        background: transparent;
    }

    .language {
        width: 25%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 0px;
    }

    .modal-header .btn-close {
        /* padding: .5rem .5rem; */
        /* margin: -.5rem -.1rem -.5rem auto !important; */
        /* transform: scale(1.6); */
        /* height: 100%; */
        padding-right: 12px;
        transform: scale(1);
    
    }

    .nav-link.black-col.link-filled {
        padding: 4px 12px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .reg-text {
        font-size: 1rem;
    }

    .big-text {
        font-size: 2rem;
    }

    .section-header {
        font-size: 2rem;
    }

    .modal-title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .coder-img {
        width: 100%;
        height: 100%;
        max-height: 300px;
    
    }

    .img-wrapper {
        box-shadow: 0px 2px 5px 3px rgb(0 0 0 / 45%);
        max-height: 400px; 
        width: 100%
    }

    .modal-link-container {
        padding: 4px 4px;
        /*transform: scale(1.2);*/
    }

    .temp.mr-auto {
        display: flex;
        transform: scale(1.3);
        padding-right: 8px;
        align-items: center;
    }
}

